<!--<div class="container">-->
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Sign-in to Perforce</h4>
            <input ng-model="user" type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input ng-model="pass" type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <input ng-model="repo" type="text" id="repo" class="form-control input-sm chat-input" placeholder="repository" />
            </br>
            <div class="wrapper">
            <span class="group-btn">     
                <a href="/list/{{user}}/{{pass}}/{{repo}}" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>
        
        </div>
    </div>
<!--</div>-->